---
title: Osaetin Daniel's Blog
---

{% include header.html %}

  <body class="home">

    <section class="hero">

      <div class="hero-inner container">

        <img src="images/author.jpg" alt="author thumb" class="dot">
        <h1>Hello world!..</h1>
        <h3>I'm <strong itemprop="name">Osaetin Daniel</strong>, a <em itemprop="jobTitle">full stack developer</em>.</h3>
        <h3>This is just a blog where i keep records of all the amazing stuff i find as i journey through the ever exciting world
          of programming, you can find me on <a href="http://stackoverflow.com/users/3734244/danidee?tab=profile">Stackoverflow</a> and <a href="https://github.com/danidee10">Github</a>
        </h3>

        <a href="about" class="btn btn-ghost">about</a>
        <a href="blog" class="btn btn-ghost">blog</a>

        {% include footer.html %}

      </div>

    </section>
  </body>
</html>
