<header class="site-header">
  <div class="container">
    <h1><a class="logo" href="/">>_Osaetin<span>Daniel</span></a></h1>

    <button type="button" class="sliding-panel-button">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="navbar sliding-panel-content">
      <ul>

          <li><a href="/about" title="About">About</a></li>

          <li><a href="/blog" title="Blog">Blog</a></li>

        <!--rssfeed li><a href="/end2end/feed.xml" target="_blank"><i class="icon icon-feed"></i></a></li-->
      </ul>
    </nav>
  </div>
</header>
