---
---

{% include header.html %}

  <body>
    <main>
      {% include navbar.html %}

      <div class="sliding-panel-fade-screen"></div>
      <div class="container">
        <article role="article" class="page card">
          <header class="post-header">
            <h1 class="post-title">About me</h1>
          </header>

          <div class="post-content">
            <p>Osaetin Daniel. Software developer, Linux enthusiast, Arsenal Fan</p>
              <hr />
              <h3 style='text-decoration: underline'>Technologies i work with</h3>
              <p><strong>Language of choice: </strong>Python</p>
              <p><strong>Other languages: </strong>Javascript, PHP</p>
              <p><strong>Frameworks and libraries: </strong> Odoo, Flask, Django, React, PyQt</p>
              <p><strong>Database: </strong> PostgreSQL, MySQL</p>
              <p><strong>Version control: </strong> Git, Mercurial</p>
              <br />

            <p>Looking for more details checkout my <a href="http://stackoverflow.com/users/story/3734244">Developer story</a> on stackoverflow</p>
          </div>



        </article>
      </div>

      {% include footer.html %}
    </main>
  </body>
</html>
