---
title: "Blog"
---

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blog</title>
    <meta name="description" content="Blog">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="canonical" href="http://nandomoreira.me/end2end/blog/">
    <link rel="alternate" type="application/rss+xml" title="Osaetin Daniel" href="http://nandomoreira.me/end2end/feed.xml" />
  </head>

  <body>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '', 'auto');
  ga('send', 'pageview');
</script>

    <main>
      <header class="site-header">
  <div class="container">
    <h1><a href="/">Osaetin<span>Daniel</span></a></h1>

    <button type="button" class="sliding-panel-button">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="navbar sliding-panel-content">
      <ul>

          <li><a href="/about" title="About">About</a></li>

          <li><a href="/blog" title="Blog">Blog</a></li>

        <li><a href="/end2end/feed.xml" target="_blank"><i class="icon icon-feed"></i></a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="sliding-panel-fade-screen"></div>


      <div class="container">
        <section class="post-list">

          {% for post in paginator.posts %}

          <article class="post">
            <header class="post-header">
              <h1 class="post-title">
                <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
              </h1>
              <div class="post-meta">
                <time>{{ post.date | date: "%B %e, %Y" }}</time>
              </div>
            </header>

            <p><a href="{{ post.url }}" title="Permalink to: {{ post.title }}" class="read-more">Read more</a></p>
          </article>

          {% endfor %}

<nav class="pagination" role="pagination">
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="prev btn btn-ghost">&laquo; Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next &laquo;</a>
    {% else %}
      <span class="next btn btn-ghost">Next</span>
    {% endif %}
  </div>
</nav>

</section>

      </div>

      {% include footer.html %}

    </main>
  </body>
</html>
